<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.amanaryan.firebase_test">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/group_4"
        android:label="@string/app_name"
        android:roundIcon="@drawable/group_4"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".upload_Image"
            android:noHistory="true"></activity>
        <activity android:name=".newLogin" />
        <activity
            android:name=".TermsConditions_photos"
            android:noHistory="true" />
        <activity
            android:name=".TutorForm"
            android:noHistory="true" />
        <activity
            android:name=".Messages"
            android:noHistory="true" />
        <activity
            android:name=".login"
            android:noHistory="true" />
        <activity
            android:name=".DefaultLauncherSplash"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".profolio" />
        <activity android:name=".TutorMessage" />
        <activity
            android:name=".DetailedItemView"
            android:noHistory="true" />
        <activity
            android:name=".filter"
            android:noHistory="true" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>